{% extends 'base.html'%}

{% block content %}
<div class="" align='center'>
    <br><br>
<h1 style='color:rgb(255, 28, 28)' class=''>Order Count</h1>

    
    <table border="1" class='report_table'>
    <tr class='report_table_heading' bgcolor='sky blue' align="center">
        <td>customer id</td>
        <td>customer name</td>
        <td>Order id</td>
        <td>Order Date</td>            
        <td>Order Count</td>            
                  

    </tr>

    {% for result in values %}
        <tr align="center" style="color: turquoise;">
            <td>{{result.customer_no}}</td>
            <td>{{result.customer_name}}</td>
            <td>{{result.order_id}}</td>    
            <td>{{result.order_date}}</td>  
            <td>{{result.order_count}}</td>    
        </tr>
    {%endfor%} 

    
</table>

</div>
{% endblock %}