{% extends 'base.html'%}

{% block content %}
<div class="" align='center'>
    <br><br>
<h1 style='color:rgb(255, 28, 28)' class=''>Total Amount Based on State</h1>

    
    <table border="1" class='report_table'>
    <tr class='report_table_heading' bgcolor='sky blue' align="center">
        <td>Date</td>
        <td>City</td>
        <td>Amount</td>            
    </tr>

    {% for result in values %}
        <tr align="center" style="color: turquoise;">
            <td>{{result.order_date}}</td>
            <td>{{result.City}}</td>
            <td>{{result.state_amount}}</td>      
        </tr>
    {%endfor%} 

    
</table>



</div>
{% endblock %}